header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5%;
	width: 100%;
	padding: 20px 2% 20px 20px;
	border-bottom: 2px solid white;
}

form{
	display: flex;
	justify-content: center;
	height: 100%;
	gap: 20px;
	width: 23%;
}